// 引用颜色
.vp-doc blockquote {
  padding: 12px 15px;
  border-radius: var(--weiz-block-radius);
  border-left: 4px solid var(--weiz-primary-color);
  background-color: rgba(var(--weiz-primary-color-rgb), .1);

  >p {
    font-size: var(--weiz-font-size);
  }
}