// 引用颜色
.vp-doc blockquote {
  margin: 0 0 20px;
  padding: 12px 15px;
  border-radius: var(--main-block-radius);
  border-left: 5px solid var(--main-primary-color);
  background-color: rgba(var(--vp-c-indigo-1-rgb), .1);

  >p {
    font-size: var(--main-font-size);
  }
}