/**
* 界面布局
* -------------------------------------------------------------------------- */
@media (max-width: 960px) {
  .DocSearch-Button .DocSearch-Button-Keys,
  .DocSearch-Button .DocSearch-Button-Placeholder {
    display: none;
  }
  .VPFlyout.VPNavBarMenuGroup > button {
    padding: 0 6px;
  }
}

footer.VPFooter {
  display: none;
}

/**
* 界面元素/组件
* -------------------------------------------------------------------------- */
body {
  font-size: var(--weiz-font-size);
}

pre:not(.vp-code) {
  font-size: var(--vp-code-font-size);
}

/* 链接 */
.vp-doc a {
  &:hover {
    color: var(--weiz-primary-color-light-1);
  }
  &:active {
    color: var(--weiz-primary-color-dark);
  }
}

/* 图片 */
.vp-doc img:not([src^="https://img.shields.io"]) {
  max-height: 420px;
  border: solid 1px var(--vp-c-divider);
  border-radius: var(--weiz-border-radius);
}


/* 按钮 */
:root {
  --vp-button-brand-bg: var(--weiz-primary-color);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-bg: var(--weiz-primary-color-light-1);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-bg: var(--weiz-primary-color-dark);
}

/* 代码 */
:root {
  --vp-code-link-hover-color: var(--weiz-primary-color-light-1);
}

/* 搜索 */
:root {
  --docsearch-primary-color: var(--weiz-primary-color);
  --docsearch-logo-color: var(--weiz-primary-color);
}
.cls-1, .cls-2 {
  fill: var(--docsearch-primary-color) !important;
}

/* 编辑按钮 */
.edit-link-button:hover {
  color: var(--weiz-primary-color-light-1);
}

/**
* 首页消除导航栏的下划线
* -------------------------------------------------------------------------- */
.weiz-home .divider,
.weiz-home .divider-line {
  background: none !important;
}

/**
* 毛玻璃
* -------------------------------------------------------------------------- */
:root {
  /* 首页下滑后导航透明 */
  .VPNavBar:not(.has-sidebar):not(.home.top) {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
  /* 搜索框透明 */
  .DocSearch-Button {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
  }
  /* 文档页侧边栏顶部透明 */
  .curtain {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
  @media (min-width: 960px) {
    /* 文档页导航中间透明 */
    .VPNavBar:not(.home.top) .content-body {
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(10px);
    }
  }
  /* 移动端大纲栏透明 */
  .VPLocalNav {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
  .DocSearch-Button {
    background-color: rgba(245,245,245, 0.6);
  }
}

/**
* element组件样式
* -------------------------------------------------------------------------- */