/**
* 首页消除导航栏的下划线
* -------------------------------------------------------------------------- */
.weiz-home .divider,
.weiz-home .divider-line {
  background: none !important;
}

/**
* 毛玻璃
* -------------------------------------------------------------------------- */
:root {
  /* 首页下滑后导航透明 */
  .VPNavBar:not(.has-sidebar):not(.home.top) {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
  /* 搜索框透明 */
  .DocSearch-Button {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
  }
  /* 文档页侧边栏顶部透明 */
  .curtain {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
  @media (min-width: 960px) {
    /* 文档页导航中间透明 */
    .VPNavBar:not(.home.top) .content-body {
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(10px);
    }
  }
  /* 移动端大纲栏透明 */
  .VPLocalNav {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
  .DocSearch-Button {
    background-color: rgba(245,245,245, 0.6);
  }
}
