/**
* 界面布局
* -------------------------------------------------------------------------- */
footer.VPFooter {
  display: none;
}

/**
* 界面元素/组件
* -------------------------------------------------------------------------- */
body {
  font-size: var(--weiz-font-size);
}

pre:not(.vp-code) {
  font-size: var(--vp-code-font-size);
}

/* 链接 */
.vp-doc a {
  &:hover {
    color: var(--weiz-primary-color-light-1);
  }
  &:active {
    color: var(--weiz-primary-color-dark);
  }
}

/* 图片 */
.vp-doc img:not([src^="https://img.shields.io"]) {
  max-height: 700px;
  border: solid 1px var(--vp-c-divider);
  border-radius: var(--weiz-border-radius);
}


/* 按钮 */
:root {
  --vp-button-brand-bg: var(--weiz-primary-color);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-bg: var(--weiz-primary-color-light-1);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-bg: var(--weiz-primary-color-dark);
}

/* 代码 */
:root {
  --vp-code-link-hover-color: var(--weiz-primary-color-light-1);
}
.vp-doc .code-wrap [class*='language-'] pre,
.vp-doc .code-wrap [class*='language-'] code {
  white-space: pre-wrap;
  word-break: break-all;
}

/* 搜索 */
:root {
  --docsearch-primary-color: var(--weiz-primary-color);
  --docsearch-logo-color: var(--weiz-primary-color);
}
.cls-1, .cls-2 {
  fill: var(--docsearch-primary-color) !important;
}

/* 编辑按钮 */
.edit-link-button:hover {
  color: var(--weiz-primary-color-light-1);
}

/* 文章内标题 */
.vp-doc h1 {
  color: transparent;
  background: -webkit-linear-gradient(120deg, var(--vp-c-purple-1) 30%, var(--weiz-primary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vp-doc h2 {
  color: var(--weiz-primary-color);
}
.vp-doc h4 {
  font-size: 16px;
}

/* 导航 */
.outline-title {
  color: var(--vp-c-text-2);
}
.VPDocOutlineItem.root > li > .outline-link {
  color: var(--vp-c-text-1);
  font-weight: 500;
}
.VPDocAsideOutline.has-outline .outline-marker {
  width: 4px;
  border-radius: 4px;
}

/**
* 首页消除导航栏的下划线
* -------------------------------------------------------------------------- */
.weiz-home .divider,
.weiz-home .divider-line {
  background: none !important;
}

/**
* element组件样式
* -------------------------------------------------------------------------- */

/**
* 插件
* -------------------------------------------------------------------------- */
// medium-zoom
.medium-zoom-overlay {
  z-index: var(--weiz-index-topShadow);
}
.medium-zoom-image {
  z-index: calc(var(--weiz-index-topShadow) + 1);
}
.medium-zoom-image:not([src^="https://img.shields.io"]) {
  border: solid 1px var(--vp-c-divider);
  border-radius: var(--weiz-border-radius);
}
.medium-zoom--opened .medium-zoom-overlay {
  backdrop-filter: blur(20px);
  opacity: .9 !important;
  background: rgba(var(--vp-c-bg-rgb), .5) !important;
}
// NProgress
#nprogress .bar {
  background: var(--weiz-primary-color);
}