/* 基础变量&主题色 */
:root {
  --weiz-primary-color: #4096ff;
  --weiz-primary-color-rgb: 48,141,250;
  --weiz-primary-color-dark: rgb(51.2, 126.4, 204);
  --weiz-font-size: 14px;
  --weiz-block-radius: 8px;

  --weiz-primary-color-light-1: rgb(121.3, 187.1, 255);
  --weiz-primary-color-light-2: rgb(159.5, 206.5, 255);
  --weiz-primary-color-light-3: rgb(197.7, 225.9, 255);
  --weiz-primary-color-light-4: rgb(216.8, 235.6, 255);
  --weiz-primary-color-light-5: rgb(235.9, 245.3, 255);

  --vp-c-indigo-1: var(--weiz-primary-color);
  --vp-c-indigo-2: var(--weiz-primary-color-light-1);
}


.dark {
  --weiz-primary-color: #4096ff;
  --weiz-primary-color-rgb: 48,141,250;
  --weiz-primary-color-dark: rgb(102.2, 177.4, 255);

  --weiz-primary-color-light-1: rgb(50.8, 116.6, 184.5);
  --weiz-primary-color-light-2: rgb(42, 89, 137.5);
  --weiz-primary-color-light-3: rgb(33.2, 61.4, 90.5);
  --weiz-primary-color-light-4: rgb(28.8, 47.6, 67);
  --weiz-primary-color-light-5: rgb(24.4, 33.8, 43.5);
}

/* MacOS风格相关颜色 */
:root {
  --macos-window-red: #FE5450;
  --macos-window-yellow: #FFB23B;
  --macos-window-green: #30C045;
}

/* 提示块颜色 */
:root {
  --custom-block-info: #909399;
  --custom-block-info-rgb: 133,136,142;
  --custom-block-info-bg: rgba(var(--custom-block-info-rgb), .1);

  --custom-block-note: var(--vp-c-indigo-1);
  --custom-block-note-rgb: var(--vp-c-indigo-1-rgb);
  --custom-block-note-bg: rgba(var(--custom-block-note-rgb), .1);

  --custom-block-tip: #67c23a;
  --custom-block-tip-rgb: 97,185, 64;
  --custom-block-tip-bg: rgba(var(--custom-block-tip-rgb), .1);

  --custom-block-important: #a371f7;
  --custom-block-important-rgb: 149,105,240;
  --custom-block-important-bg: rgba(var(--custom-block-important-rgb), .1);

  --custom-block-warning: #e6a23c;
  --custom-block-warning-rgb: 227,151, 63;
  --custom-block-warning-bg: rgba(var(--custom-block-warning-rgb), .1);

  --custom-block-danger: #f05659;
  --custom-block-danger-rgb: 243, 97, 98;
  --custom-block-danger-bg: rgba(var(--custom-block-danger-rgb), .1);
}

/* 图标集 */
:root {
  --weiz-icon-github: url(https://api.iconify.design/simple-icons/github.svg?color=%23ffffff);
  --weiz-icon-gitee: url(https://api.iconify.design/simple-icons/gitee.svg?color=%23ffffff);
  --weiz-icon-blog: url(https://api.iconify.design/la/blog.svg?color=%23ffffff);
}

/**
* 界面布局
* -------------------------------------------------------------------------- */
.Layout {
  .VPDoc {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .Layout {
    .VPDoc {
      padding-bottom: 20px;
    }
  }
}
@media (min-width: 960px) {
  .Layout {
    .VPDoc {
      padding-bottom: 0;
    }
    .content {
      padding-bottom: 20px;
    }
  }
}

/**
* 界面元素/组件
* -------------------------------------------------------------------------- */
body {
  font-size: var(--weiz-font-size);
}

/* 链接 */
.vp-doc a {
  &:hover {
    color: var(--weiz-primary-color-light-1);
  }
  &:active {
    color: var(--weiz-primary-color-dark);
  }
}

/* 按钮 */
:root {
  --vp-button-brand-bg: var(--weiz-primary-color);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-bg: var(--weiz-primary-color-light-1);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-bg: var(--weiz-primary-color-dark);
}

/* 代码 */
:root {
  --vp-code-link-hover-color: var(--weiz-primary-color-light-1);
}

/* 搜索 */
:root {
  --docsearch-primary-color: var(--weiz-primary-color);
  --docsearch-logo-color: var(--weiz-primary-color);
}
.cls-1, .cls-2 {
  fill: var(--docsearch-primary-color) !important;
}

/* 编辑按钮 */
.edit-link-button:hover {
  color: var(--weiz-primary-color-light-1);
}