// 基础变量定义
:root {
  --vp-c-font-size: 14px;
}

/**
* Component: Button
* -------------------------------------------------------------------------- */
:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: var(--vp-c-brand-lighter);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-lighter);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/* Safari has a very bad performance on gradient and filter */
.browser-safari,
.browser-firefox {
  --vp-home-hero-image-background-image: transparent;
  --vp-home-hero-image-filter: '';
}

/**
* body
* -------------------------------------------------------------------------- */
body {
  font-size: var(--vp-c-font-size);
}

/**
* 标题色
* -------------------------------------------------------------------------- */
h1 {
  background: -webkit-linear-gradient(15deg, var(--vp-c-indigo-1) 10%, var(--vp-c-indigo-5) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**
* a 链接
* -------------------------------------------------------------------------- */
.vp-doc a {
  text-decoration: none;
}
