/* 基础变量&主题色 */
:root {
  --weiz-primary-color: #409eff;
  --weiz-primary-color-rgb: 64,158,255;
  --weiz-primary-color-dark: rgb(51.2, 126.4, 204);
  --weiz-font-size: 14px;

  --weiz-primary-color-light-1: rgb(121.3, 187.1, 255);
  --weiz-primary-color-light-2: rgb(159.5, 206.5, 255);
  --weiz-primary-color-light-3: rgb(197.7, 225.9, 255);
  --weiz-primary-color-light-4: rgb(216.8, 235.6, 255);
  --weiz-primary-color-light-5: rgb(235.9, 245.3, 255);

  --vp-c-text-4: rgba(60, 60, 67, 0.34);
  --vp-c-text-5: rgba(60, 60, 67, 0.12);

  // 紫红色
  --vp-c-purple-1: #bd34fe;

  --vp-c-indigo-1: var(--weiz-primary-color);
  --vp-c-indigo-1-rgb: var(--weiz-primary-color-rgb);
  --vp-c-indigo-2: var(--weiz-primary-color-light-1);

  // border
  --weiz-border-color: #dcdfe6;
}


.dark {
  --weiz-primary-color: #409eff;
  --weiz-primary-color-rgb: 64,158,255;
  --weiz-primary-color-dark: rgb(102.2, 177.4, 255);

  --weiz-primary-color-light-1: rgb(50.8, 116.6, 184.5);
  --weiz-primary-color-light-2: rgb(42, 89, 137.5);
  --weiz-primary-color-light-3: rgb(33.2, 61.4, 90.5);
  --weiz-primary-color-light-4: rgb(28.8, 47.6, 67);
  --weiz-primary-color-light-5: rgb(24.4, 33.8, 43.5);

  --vp-c-text-4: rgba(235, 235, 245, 0.24);
  --vp-c-text-5: rgba(235, 235, 245, 0.08);
}

/* MacOS风格相关颜色 */
:root {
  --macos-window-red: #FE5450;
  --macos-window-yellow: #FFB23B;
  --macos-window-green: #30C045;
}

/* 提示块 */
:root {
  --weiz-block-radius: 8px;
  
  --weiz-block-info: #909399;
  --weiz-block-info-rgb: 133,136,142;
  --weiz-block-info-bg: rgba(var(--weiz-block-info-rgb), .1);

  --weiz-block-note: var(--vp-c-indigo-1);
  --weiz-block-note-rgb: var(--vp-c-indigo-1-rgb);
  --weiz-block-note-bg: rgba(var(--weiz-block-note-rgb), .1);

  --weiz-block-tip: #67c23a;
  --weiz-block-tip-rgb: 97,185, 64;
  --weiz-block-tip-bg: rgba(var(--weiz-block-tip-rgb), .1);

  --weiz-block-important: #a371f7;
  --weiz-block-important-rgb: 149,105,240;
  --weiz-block-important-bg: rgba(var(--weiz-block-important-rgb), .1);

  --weiz-block-warning: #e6a23c;
  --weiz-block-warning-rgb: 227,151, 63;
  --weiz-block-warning-bg: rgba(var(--weiz-block-warning-rgb), .1);

  --weiz-block-danger: #f05659;
  --weiz-block-danger-rgb: 243, 97, 98;
  --weiz-block-danger-bg: rgba(var(--weiz-block-danger-rgb), .1);
}

/**
* 界面布局
* -------------------------------------------------------------------------- */
.Layout {
  .VPDoc {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .Layout {
    .VPDoc {
      padding-bottom: 20px;
    }
  }
}
@media (min-width: 960px) {
  .Layout {
    .VPDoc {
      padding-bottom: 0;
    }
    .content {
      padding-bottom: 20px;
    }
  }
}

/**
* 界面元素/组件
* -------------------------------------------------------------------------- */
body {
  font-size: var(--weiz-font-size);
}

/* 链接 */
.vp-doc a {
  &:hover {
    color: var(--weiz-primary-color-light-1);
  }
  &:active {
    color: var(--weiz-primary-color-dark);
  }
}

/* 按钮 */
:root {
  --vp-button-brand-bg: var(--weiz-primary-color);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-bg: var(--weiz-primary-color-light-1);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-bg: var(--weiz-primary-color-dark);
}

/* 代码 */
:root {
  --vp-code-link-hover-color: var(--weiz-primary-color-light-1);
}

/* 搜索 */
:root {
  --docsearch-primary-color: var(--weiz-primary-color);
  --docsearch-logo-color: var(--weiz-primary-color);
}
.cls-1, .cls-2 {
  fill: var(--docsearch-primary-color) !important;
}

/* 编辑按钮 */
.edit-link-button:hover {
  color: var(--weiz-primary-color-light-1);
}