.VPDoc {
  padding: 32px 24px 96px;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 752px;
}
@media (min-width: 768px) {
  .VPDoc {
    padding: 48px 32px 128px;
  }
}
@media (min-width: 960px) {
  .container {
    padding: 0 32px;
    max-width: 1152px;
  }
}

#tags {
  margin: 0 auto;
  .tags-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: calc(var(--vp-layout-top-height, 0px) + 30px - 6px);
    border-bottom: 1px dashed var(--vp-c-border);
  }
  .tag {
    padding: 6px 8px;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 25px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      color: var(--weiz-primary-color);
      transform: scale(1.1);
    }
    &.tag-active {
      color: var(--weiz-primary-color);
    }
  }
  .tag-length {
    color: var(--vp-c-text-3);
    font-size: 12px;
    position: relative;
    top: -8px;
    right: 2px;
  }
}

#posts {
  padding-top: 32px;
  margin: 0 auto;
  h1 {
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    .weiz-icon {
      margin-right: 6px;
    }
  }
  .el-col {
    margin-top: 20px;
    a {
      text-decoration: inherit;
    }
  }
}