.container {
  max-width: 1152px;
  margin: 0 auto;
}

#tags {
  padding: calc(var(--vp-layout-top-height, 0px) + 40px) 48px 0;
  h1 {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1;
  }
  .tags-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: calc(var(--vp-layout-top-height, 0px) + 30px - 6px);
    border-bottom: 1px dashed var(--vp-c-border);
  }
  .tag {
    padding: 6px 8px;
    font-size: .85em;
    line-height: 25px;
    transition: .4s;
    cursor: pointer;
    &:hover {
      color: var(--weiz-primary-color);
      font-weight: 700;
      transform: scale(1.1);
    }
    &.tag-active {
      color: var(--weiz-primary-color);
      font-weight: 700;
    }
  }
  .tag-length {
    color: var(--vp-c-text-3);
    font-size: 12px;
    position: relative;
    top: -8px;
    right: 2px;
  }
}

#posts {
  padding: calc(var(--vp-layout-top-height, 0px) + 30px) 48px 24px;
  h1 {
    font-weight: 600;
    padding-bottom: 16px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    > i {
      width: 24px;
      height: 24px;
      fill: currentColor;
      content: var(--weiz-icon-book);
      margin-right: 6px;
    }
  }
  .posts-wrapper {
    margin-top: 10px;
  }
  .post {
    margin-bottom: 12px;
  }
  .post-details {
    display: flex;
    > a {
      display: flex;
      flex-direction: column;
    }
  }
  .post-title {
    margin-bottom: 6px;
    font-weight: 600;
  }
  .post-details:hover .post-title {
    color: var(--weiz-primary-color);
  }
  .post-abstract {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}