#tags {
  margin: 0 auto;
  .tags-wrapper {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: calc(var(--vp-layout-top-height, 0px) + 30px - 6px);
    border-bottom: 1px dashed var(--vp-c-border);
  }
  .tag {
    padding: 6px 8px;
    font-weight: 500;
    line-height: 25px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      color: var(--weiz-primary-color);
      transform: scale(1.2);
    }
    &.tag-active {
      color: var(--weiz-primary-color);
    }
  }
  .tag-length {
    color: var(--vp-c-text-3);
    font-size: 12px;
    position: relative;
    top: -8px;
    right: 2px;
  }
}

#posts {
  padding-top: 32px;
  margin: 0 auto;
  h3 {
    margin: 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    .weiz-icon {
      margin-right: 6px;
    }
  }
  .el-col {
    margin-top: 24px;
    a {
      text-decoration: inherit;
    }
  }
}