.container {
  max-width: 1152px;
  margin: 0 auto;
}
/**
* 标题模块
* -------------------------------------------------------------------------- */
#about {
  padding: calc(var(--vp-layout-top-height, 0px) + 60px) 48px 54px;
  .container-left {
    order: 2;
    margin-top: 30px;
    .title {
      width: fit-content;
    }
    h1 {
      font-weight: 700;
      line-height: 40px;
      font-size: 32px;
      width: fit-content;
      span {
        width: 0;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
      }
      &.about-title {
        color: transparent;
        background: -webkit-linear-gradient(120deg, var(--vp-c-purple-1) 30%, var(--weiz-primary-color));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        span {
          animation: typing 2s steps(4, end) 0s forwards, blink-caret .75s step-end infinite, blink-end 0s linear 3.75s forwards;
        }
      }
      &.about-desc {
        span {
          animation: typing-desc 2s steps(8, end) 3.8s forwards, blink-caret .75s step-end 3.8s infinite, blink-end 0s linear 7.55s forwards;
        }
      }
    }
    h2 {
      font-weight: 500;
      padding-top: 12px;
      line-height: 28px;
      font-size: 18px;
      color: var(--vp-c-text-2);
    }
  }
  .about-nav {
    margin-top: 20px;
    .list-inline {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      margin-top: 12px;
      &:first-child a {
        background: var(--weiz-primary-color);
        color: #ffffff;
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--vp-button-alt-bg);
        height: 42px;
        line-height: 42px;
        padding: 0 9px;
        margin-right: 10px;
        border-radius: 42px;
        text-align: center;
        font-size: var(--weiz-font-size);
        font-weight: 500;
        transition: .4s;
        span {
          width: 56px;
          white-space: nowrap;
          overflow: hidden;
          transition: .4s;
        }
        &:hover {
          padding: 0 12px;
          span {
            margin-left: 6px;
            width: 56px;
          }
        }
        i {
          width: 24px;
          height: 24px;
          fill: currentColor;
          &.web {
            content: var(--weiz-icon-web);
          }
          &.code {
            content: var(--weiz-icon-code);
          }
          &.blog {
            content: var(--weiz-icon-blog);
          }
          &.resource {
            content: var(--weiz-icon-resource);
          }
          &.other {
            content: var(--weiz-icon-other);
          }
        }
      }
    }
  }
  .container-right {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-avatar {
      position: relative;
      display: flex;
      justify-content: end;
      margin-right: -15px;
      img {
        border-bottom-left-radius: 42%;
      }
      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: -15px;
        bottom: 0;
        right: 15px;
        background: var(--weiz-primary-color);
        width: 100%;
        height: calc(100% + 15px);
        border-radius: 50% 12px 12px 50%;
      }
      &::after {
        content: '';
        z-index: -2;
        position: absolute;
        top: -30px;
        bottom: -15px;
        right: 30px;
        width: 100%;
        height: calc(100% + 45px);
        border: 1px dashed var(--vp-c-gray-1);
        border-radius: 50% 12px 12px 50%;
      }
    }
  }
}

/**
* 文章模块
* -------------------------------------------------------------------------- */
#post {
  padding: var(--vp-layout-top-height, 0px) 48px 24px;
  .el-col {
    margin-bottom: 20px;
  }
  .post-card {
    display: flex;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--vp-c-bg-soft);
    background-color: var(--vp-c-bg-soft);
    &.statistic {
      border-color: var(--weiz-primary-color);
      background: var(--weiz-primary-color);
    }
    &:hover {
      box-shadow: var(--el-box-shadow-light);
    }
  }
  .post-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;
    .icon {
      width: 40px;
      height: 40px;
      content: var(--weiz-icon-js-line);
      margin-bottom: 16px;
    }
    .title {
      line-height: 1.4;
      font-size: 16px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .4s;
    }
    .desc {
      padding-top: 8px;
      line-height: 20px;
      font-weight: 500;
      color: var(--vp-c-text-2);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .post-card:hover .post-container {
    .title {
      color: var(--weiz-primary-color);
    }
  }
  .statistic .post-container {
    text-align: center;
    .number {
      letter-spacing: 4px;
      line-height: 2;
      font-weight: 700;
      font-size: 48px;
      color: white;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 1.6px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: -5px;
        left: 0;
        background-image: linear-gradient(0deg, var(--weiz-primary-color) 0,transparent 100%);
      }
    }
    .desc {
      color: white;
    }
  }
}

/**
* 技能模块
* -------------------------------------------------------------------------- */
#skill {
  padding: var(--vp-layout-top-height, 0px) 0;
  .swiper {
    position: relative;
    overflow: hidden;
  }
  .swiper-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    animation: skill-move 402s linear 0s infinite;
  }
  .swiper-item {
    flex-shrink: 0;
    width: auto;
    height: 100%;
    position: relative;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
    > h2 {
      font-size: 56px;
      line-height: 1.2;
      font-weight: 600;
      color: var(--vp-c-text-5);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1.4px;
      -webkit-text-stroke-color: var(--vp-c-text-5);
    }
  }
}

/**
* 暗黑模式适配
* -------------------------------------------------------------------------- */
.dark {
  #about {
    .container-right {
      .hero-avatar {
        &::before {
          background: var(--vp-c-gray-1);
        }
        &::after {
          border-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

/**
* 动画
* -------------------------------------------------------------------------- */
@keyframes typing {
  from { width: 0; }
  to { width: 4em; }
}
@keyframes typing-desc {
  from { width: 0; }
  to { width: 8em; }
}
@keyframes blink-caret {
  from, to { box-shadow: 8px 0 0 0 transparent; }
  50% { box-shadow: 8px 0 0 0 #000; }
}
@keyframes blink-end {
  from { box-shadow: 8px 0 0 0 transparent; }
  to { box-shadow: 8px 0 0 0 transparent; }
}
@keyframes skill-move {
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(calc(-13411.7px + 100vw), 0, 0); }
}

/**
* 自适应
* -------------------------------------------------------------------------- */
@media (min-width: 768px) {
  #about {
    .container-left {
      order: 1;
      margin-top: 0;
      h1 {
        line-height: 56px;
        font-size: 48px;
      }
      h2 {
        line-height: 32px;
        font-size: 20px;
      }
    }
    .about-nav {
      li:first-child a {
        padding: 0 15px;
        span {
          width: 56px;
          margin-left: 6px;
        }
      }
      li a {
        &:hover {
          padding: 0 30px;
        }
        span {
          width: 0;
        }
      }
    }
    .container-right {
      order: 2;
      justify-content: end;
      .hero-avatar img {
        max-height: 240px;
      }
    }
  }
}

@media (min-width: 992px) {
  #about {
    .container-left {
      h1 {
        line-height: 64px;
        font-size: 56px;
      }
      h2 {
        line-height: 36px;
        font-size: 24px;
      }
    }
  }
}