.container {
  max-width: 1152px;
  margin: 0 auto;
}
/**
* 标题模块
* -------------------------------------------------------------------------- */
#about {
  padding: calc(var(--vp-layout-top-height, 0px) + 80px) 48px 64px;
  .container-left {
    order: 2;
    margin-top: 30px;
    .title {
      width: fit-content;
    }
    h1 {
      font-weight: 700;
      line-height: 40px;
      font-size: 32px;
      width: fit-content;
      span {
        width: 0;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
      }
      &.about-title {
        color: transparent;
        background: -webkit-linear-gradient(120deg, var(--vp-c-purple-1) 30%, var(--weiz-primary-color));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        span {
          animation: typing 2s steps(4, end) 0s forwards, blink-caret .75s step-end infinite, blink-end 0s linear 2.2s forwards;
        }
      }
      &.about-desc {
        span {
          animation: typing-desc 2s steps(8, end) 2.2s forwards, blink-caret .75s step-end 2.2s infinite, blink-end 0s linear 8s forwards;
        }
      }
    }
    h2 {
      font-weight: 500;
      padding-top: 12px;
      line-height: 28px;
      font-size: 18px;
      color: var(--vp-c-text-2);
    }
    .about-nav {
      margin-top: 20px;
      .list-inline {
        display: flex;
        flex-wrap: wrap;
      }
      li {
        margin-top: 12px;
        &:first-child a {
          background: var(--weiz-primary-color);
          color: #ffffff;
        }
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: var(--vp-button-alt-bg);
          height: 42px;
          line-height: 42px;
          padding: 0 9px;
          margin-right: 10px;
          border-radius: 42px;
          text-align: center;
          font-size: var(--weiz-font-size);
          font-weight: 500;
          transition: .4s;
          span {
            width: 56px;
            white-space: nowrap;
            overflow: hidden;
            transition: .4s;
          }
          &:hover {
            padding: 0 12px;
            span {
              margin-left: 6px;
              width: 56px;
            }
          }
          i {
            width: 24px;
            height: 24px;
            fill: currentColor;
            &.web {
              content: var(--weiz-icon-web);
            }
            &.code {
              content: var(--weiz-icon-code);
            }
            &.blog {
              content: var(--weiz-icon-blog);
            }
            &.resource {
              content: var(--weiz-icon-resource);
            }
            &.other {
              content: var(--weiz-icon-other);
            }
          }
        }
      }
    }
  }
  .container-right {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-avatar {
      position: relative;
      display: flex;
      justify-content: end;
      img {
        border-bottom-left-radius: 32%;
      }
      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: -15px;
        bottom: 0;
        right: 15px;
        background: var(--weiz-primary-color);
        width: 100%;
        height: calc(100% + 15px);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      &::after {
        content: '';
        z-index: -2;
        position: absolute;
        top: -30px;
        bottom: -15px;
        right: 30px;
        width: 100%;
        height: calc(100% + 45px);
        border: 1px dashed var(--vp-c-gray-1);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
  }
}

/**
* 文章模块
* -------------------------------------------------------------------------- */
#post {
  padding: var(--vp-layout-top-height, 0px) 48px 64px;
  .post-card {
    border-radius: 25px;
    background-color: var(--vp-c-bg-soft);
  }
}

/**
* 暗黑模式适配
* -------------------------------------------------------------------------- */
.dark {
  #about {
    .container-right {
      .hero-avatar {
        &::before {
          background: var(--vp-c-gray-1);
        }
        &::after {
          border-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

/**
* 动画
* -------------------------------------------------------------------------- */
@keyframes typing {
  from { width: 0; }
  to { width: 4em; }
}
@keyframes typing-desc {
  from { width: 0; }
  to { width: 8em; }
}
@keyframes blink-caret {
  from, to { box-shadow: 8px 0 0 0 transparent; }
  50% { box-shadow: 8px 0 0 0 #000; }
}
@keyframes blink-end {
  from { box-shadow: 8px 0 0 0 transparent; }
  to { box-shadow: 8px 0 0 0 transparent; }
}

/**
* 自适应
* -------------------------------------------------------------------------- */
@media (min-width: 768px) {
  #about {
    .container-left {
      order: 1;
      margin-top: 0;
      h1 {
        line-height: 56px;
        font-size: 48px;
      }
      h2 {
        line-height: 32px;
        font-size: 20px;
      }
      .about-nav {
        li:first-child a {
          padding: 0 15px;
          span {
            width: 56px;
            margin-left: 6px;
          }
        }
        li a {
          &:hover {
            padding: 0 30px;
          }
          span {
            width: 0;
          }
        }
      }
    }
    .container-right {
      order: 2;
      justify-content: end;
      .hero-avatar img {
        max-height: 240px;
        border-bottom-left-radius: 32%;
      }
    }
  }
}

@media (min-width: 992px) {
  #about {
    .container-left {
      h1 {
        line-height: 64px;
        font-size: 56px;
      }
      h2 {
        line-height: 36px;
        font-size: 24px;
      }
    }
  }
}